@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

a {
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

/* Enable parallax scrolling */
.parallax-bg {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

html {
  scroll-behavior: smooth;
}
